SERVER_PORT=
SPRING_PROFILES_ACTIVE=
GATEWAY_NAME=

# 쿠버네티스
NAMESPACE=
IMAGE=

# Other Applications
USER_SERVICE_URL=
PRODUCT_SERVICE_URL=
ORDER_SERVICE_URL=
PAYMENT_SERVICE_URL=

OTEL_EXPORTER_OTLP_ENDPOINT_METRICS=예시: http://otel-collector-collector.observability.svc.cluster.local:4318
OTEL_EXPORTER_OTLP_ENDPOINT_TRACING=예시: http://otel-collector-collector.observability.svc.cluster.local:4318
OTEL_EXPORTER_OTLP_ENDPOINT=예시: http://otel-collector-collector.observability.svc.cluster.local:4318
OTEL_SERVICE_NAME=안쓸거같음